<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<variable name="envdir" value="."/>

	<targets>

		<target xsi:type="Console"
						name="console"
						layout="${longdate} ${level:upperCase=true} ${message}"
		/>

		<target xsi:type="File"
            name="file"
            fileName="${var:logdir}\log_${date:format=yyyyMMdd}.txt"
            archiveFileName="log_history_{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd" 
		/>

	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="console" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>

</nlog>